# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.global-game-jam-21.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\vince\Code\global-game-jam-21\.idea\.idea.global-game-jam-21.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
