# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.GameJam.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\vince\Code\global-game-jam-21\GameJam\.idea\.idea.GameJam.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
